* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

/*
 *
 * Media queries
 *
 */

@media only screen and (max-width: 768px) {
  /* header */

  /* menu */
  .menu {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    padding: 0.4em;
    background: #323232;
  }

  .menu > .line {

  }

  /* nav */
  .nav { display: none; }

  /* about */
  .about {
    margin: auto 10px;
    text-align: center;
  }

  .about > .details > .profile {
    width: 100%;
  }

  /* education */


}

/*
 *
 * Header
 *
 */

.header {
  margin: 0;
  padding: 1.5em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

/*
 *
 * Nav
 *
 */

.nav {

}

.navigation {

}

.navigation > .item {

}

.navigation > .item a {

}

/*
 *
 * Main
 *
 */

.main > * {
  border: 2px solid red;
  margin: 10px 0;
}

/*
 *
 * About
 *
 */

.about {

}

/*
 *
 * Education
 *
 */

.education {

}

.education > .details {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.education > .details > .content {
  max-width: 75%;
}

.education > .details > .icon {
  width: 50px;
  height: 50px;
  background: url('http://icon-icons.com/icons2/836/PNG/128/WhatsApp_icon-icons.com_66798.png');
  background-position: center center;
  background-size: 25px;
  background-repeat: no-repeat;
  border: 2px dotted green;
  border-radius: 50%;
  margin: 0 auto;
}

/*
 *
 * Skill
 *
 */

.skill {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.skill > .title {
  width: 100%;
  text-align: center;
}

.skill > .item {
  margin: 1.4em;
}

/*
 *
 * Workflow
 *
 */

.workflow {

}

/*
 *
 * Portfolio
 *
 */

.portfolio {

}

/*
 *
 * Contact
 *
 */

.contact {

}

/*
 *
 * Findme
 *
 */

.findme {

}

/*
 *
 * Footer
 *
 */

.footer {

}

/*
 *
 * Utilities
 *
 */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
