* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1 { font-size: 4em; }
h2 { font-size: 2.8em; }

/*
 *
 * Media queries
 *
 */

 /* smartphones and tablets */
 @media only screen and (max-width: 768px) {
   /* header */

   /* menu */
   .menu {
     width: 40px;
     height: 40px;
     padding: 0.4em;
     border: 2px solid #fff;
     border-radius: 3px;
     background: #f6608a;
   }

   .menu > .line {
     display: block;
     height: 2px;
     margin-top: 5px;
     background: #fff;
   }

   .header { justify-content: center; }

   .header > .title { font-size: 4em; }

   /* nav */
   .nav { display: none; }

   /* about */
   .about {  }

   .about > .details {
     width: 95%;
   }

   .about > .details > .details__info { padding: 20px; }

   .about > .details > .profile {
     width: 100%;
   }

   /* education */
   .education > .details {
     display: flex;
     flex-flow: row wrap;
     justify-content: flex-start;
     padding: 20px;
   }
 }

 /* laptop, notebook and desktop */
 @media only screen and (min-width: 769px) {

  /* header */
  .header { min-height: 730px; justify-content: flex-start; align-items: center; }

  .header > .title { font-size: 9em; padding-top: 50px; }

  .header > p { width: 60%; }

  .header > h4 { font-size: 4em; padding-top: 70px; }

  .header > .icon__down {
    width: 100%;
  }

  .nav {
    display: flex;
  }

  .navigation {
    width: 100%;
    list-style-type: none;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .navigation > .item {
    padding: 0 15px;
  }

  .navigation > .item a{
    color: #34353a;
  }

  .navigation > .item a.active {
    color: #fff;
  }

  .navigation > .item > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
  }

  /* about */
  .about > .details { width: 60%; display: flex; flex-flow: row wrap;}

  .about > .details > .details__info {
    width: 60%;
    padding: 20px;
    flex-grow: 2;
  }

  .about > .details > .details__info > h3 { font-size: 1.5em; }

  .about > .details > .profile {
    width: 40%;
    max-height: 550px;
  }

  /* education */
  .education {
    padding-bottom: 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .education > .details {
    display: flex;
    flex-flow: row wrap;
  }

  .education > .one {
    padding: 0 45% 0 10%;
  }

  .education > .two {
    padding: 0 10% 0 43.5%;
  }

  .education > .three {
    padding: 0 45% 0 10%;
  }

  .education .line {
    width: 2px;
    height: 158px;
    background: #53bed6;
    margin-top: 50px;
    margin-left: 39.3%;
    position: absolute;
  }
}

/*
 *
 * Header
 *
 */

.header {
  margin: 0;
  padding: 1.5em;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  background: #f6608a;
  color: #fff;
}

.header > .title {
  margin-bottom: 5px;
  color: #34353a;
}

.header > p {
  line-height: 25px;
}

.header > h4 {
  font-size: 1.1em;
  text-transform: uppercase;
}

.header > .icon__down {
  display: block;
  height: 30px;
  background: url('https://p.w3layouts.com/demos/personale/web/images/down.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*
 *
 * About
 *
 */

 .about {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   padding-bottom: 70px;
   background: #f4f4f4;
 }

 .about > .details {
   background: #53bed6;
   color: #fff;
 }

/*
 *
 * Education
 *
 */

.education {
  padding-bottom: 70px;
}

.education > .details > .content {
  max-width: 75%;
}

.education > .details > .icon {
  width: 50px;
  height: 50px;
  border: 2px dotted #53bed6;
  border-radius: 50%;
  margin: 0 auto;
}

.education > .details > .icon__book {
  background: url('http://www.iconsdb.com/icons/preview/caribbean-blue/book-stack-xxl.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px;
}

.education > .details > .icon__briefcase {
  background: url('http://www.iconsdb.com/icons/preview/caribbean-blue/briefcase-xxl.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px;
}

.education > .details > .icon__gift {
  background: url('http://www.iconsdb.com/icons/preview/caribbean-blue/gift-xxl.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px;
}

.education > .details > .content > h3 {
  color: #53bed6;
}

/*
 *
 * Skill
 *
 */

.skill {
  background: #333;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.skill > .title {
  width: 100%;
  text-align: center;
}

.skill > .item {
  margin: 1.4em;
}

.skill > .item > .circle {
  width: 150px;
  height: 150px;
  border: 10px solid #f6608a;
  border-radius: 50%;
  display: flex;
}

.skill > .item > .circle > span {
  display: block;
  margin: auto;
  font-size: 2.2em;
}

.skill > .item > h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}

/*
 *
 * Workflow
 *
 */

 .workflow {
  height: 500px;
  padding: 20px;
  display: flex;
  background: #53bed6;
}

.workflow > .container {
  width: 90%;
  height: 300px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}

.workflow > .container  .work {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}

.workflow > .container > .flow {
  margin: 3px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.workflow > .container > .flow_middle {
  margin: 3px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.workflow > .container > .flow > .item {
  width: 100%;
  height: 100px;
  margin: 2px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.workflow > .container > .flow > .item span {
  display: block;
  color: #fff;
}

.workflow > .container > .flow_middle > .sup {
  width: 100%;
  margin: 2px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.workflow > .container > .flow_middle > .sup span {
  display: block;
  color: #fff;
}

.workflow > .container > .flow_middle > .sup {
  align-self: flex-start;
}

.workflow .icon {
  width: 50px;
  height: 50px;
  border: 2px dotted #53bed6;
  border-radius: 50%;
  margin: 0 auto;
}

.workflow .icon__book {
  background: #fff;
}

/*
 *
 * Portfolio
 *
 */

.portfolio {
  background: #333;
  color: #fff;
  padding: 30px 0;
}

.portfolio > .title {
  text-align: center;
}

.portfolio > .group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.portfolio > .group > img {
  width: 45%;
  height: 40%;
  margin: 2px;
}

/*
 *
 * Contact
 *
 */

.contact {
  padding: 20px;
}

.contact > h2 {
  text-align: center;
}

.contact label {
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
}

.contact form > input {
  width: 100%;
  height: 60px;
  padding-left: 20px;
}

.contact form textarea {
  width: 100%;
  resize: none;
}

.contact form > button {
  width: 120px;
  height: 45px;
  margin-top: 10px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  background: #53bed6;
  color: #fff;
}

/*
 *
 * Findme
 *
 */

.findme {
  height: 800px;
  background: #f4f4f4;
  padding: 50px 15px 0 15px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

.findme h2, .findme h4 {
  margin: 15px 0;
}

.findme > i {
  width: 100px;
  height: 100px;
  background: url('http://www.iconsdb.com/icons/preview/caribbean-blue/pin-9-xxl.png');
  background-position: center center;
  background-size: cover;
}

.findme > #map {
  flex-grow: 1;
}

/*
 *
 * Footer
 *
 */

.footer {
  background: #53bed6;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer p {
  margin: 0;
}

/*
 *
 * Utilities
 *
 */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
